In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


import sklearn.linear_model as skl_lm
from sklearn.metrics import mean_squared_error, r2_score
import statsmodels.formula.api as smf

In [2]:
credit = pd.read_csv('../Data/Credit.csv', usecols=list(range(1,12)))
credit['Student2'] = credit.Student.map({'No':0, 'Yes':1})
credit.head(3)

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance,Student2
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333,0
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903,1
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580,0

## Ejercicio 1: Investigar la diferencia en el crédito (Balance) entre hombres y mujeres, usando sólo esa variable
Para eso convertir la variable categórica en dummies

Obtener los coeficientes, error standard, t y p-value

Escribir explicitamente cómo resulta la función de regresión 

Interpretar los resultados

## Ejercicio 2: idem 1 para Ethnicity