# LAB: Introducción a Pandas 1

## 1. Introducción

Usaremos en este caso una versión muy resumida de datos de la Encuesta Permanentes de Hogares (relevamiento llevado adelante por el INDEC). Se trata de una encuesta continua que tiene como objetivo fundamental generar información sobre el funcionamiento del mercado de trabajo.

Solamente utilizaremos algunas variables (edad, nivel educativo, cantidad de horas trabajadas, calificación de la tarea e ingreso laboral) y algunos casos (los ocupados, es decir, aquellos que han trabajado al menos una hora en la semana anterior al relevamiento).

#### Para resolver el LAB: 
    Investigar los métodos value_counts() y sort_values() de la clase DataFrame

### 1.1 Importamos los paquetes a usar

In [1]:
import pandas as pd

### 1.2 Importamos los datos a usar

In [24]:
df = pd.read_csv("../Data/data_filt.csv"
           , encoding = 'latin1')

       ch06           nivel_ed  htot            calif     p47t
0        46        1_H/Sec inc    45  2_Op./No calif.   6000.0
1        26  2_Sec. comp y más    25  2_Op./No calif.   5000.0
2        47  2_Sec. comp y más    25  2_Op./No calif.   5000.0
3        52        1_H/Sec inc    90  2_Op./No calif.  11000.0
4        45        1_H/Sec inc    44  2_Op./No calif.   9500.0
5        38  2_Sec. comp y más    72    1_Prof./Tecn.   6000.0
6        40  2_Sec. comp y más    44  2_Op./No calif.   9000.0
7        53        1_H/Sec inc    72  2_Op./No calif.   4260.0
8        24        1_H/Sec inc    55  2_Op./No calif.   3800.0
9        44  2_Sec. comp y más    60  2_Op./No calif.  10517.0
10       72        1_H/Sec inc    15    1_Prof./Tecn.   8300.0
11       40  2_Sec. comp y más    42  2_Op./No calif.   4900.0
12       43  2_Sec. comp y más    15    1_Prof./Tecn.  11000.0
13       47  2_Sec. comp y más    45  2_Op./No calif.   9000.0
14       40        1_H/Sec inc    14  2_Op./No calif.   3500.0
15       40        1_H/Sec inc    55  2_Op./No calif.   8000.0
16       43        1_H/Sec inc    48  2_Op./No calif.   2500.0
17       43        1_H/Sec inc    72  2_Op./No calif.   7500.0
18       42        1_H/Sec inc    72  2_Op./No calif.   5000.0
19       29        1_H/Sec inc    20  2_Op./No calif.   5500.0
20       44  2_Sec. comp y más    36    1_Prof./Tecn.   7000.0
21       25  2_Sec. comp y más    36  2_Op./No calif.   6500.0
22       48        1_H/Sec inc    30  2_Op./No calif.   3000.0
23       19  2_Sec. comp y más    25  2_Op./No calif.   2000.0
24       53        1_H/Sec inc    40  2_Op./No calif.   9100.0
25       47        1_H/Sec inc    36  2_Op./No calif.   5100.0
26       40        1_H/Sec inc    40  2_Op./No calif.   7200.0
27       54        1_H/Sec inc    70  2_Op./No calif.   4800.0
28       37        1_H/Sec inc    51  2_Op./No calif.   2700.0
29       37        1_H/Sec inc    24  2_Op./No calif.   3000.0
...     ...                ...   ...              ...      ...
23418    37  2_Sec. comp y más    48  2_Op./No calif.  10500.0
23419    36  2_Sec. comp y más    40    1_Prof./Tecn.  13000.0
23420    29  2_Sec. comp y más    40  2_Op./No calif.   9500.0
23421    28  2_Sec. comp y más    40  2_Op./No calif.   9700.0
23422    29        1_H/Sec inc    48    1_Prof./Tecn.   3500.0
23423    47        1_H/Sec inc    60  2_Op./No calif.   8400.0
23424    28  2_Sec. comp y más    20  2_Op./No calif.   3500.0
23425    46  2_Sec. comp y más    40    1_Prof./Tecn.  12000.0
23426    58  2_Sec. comp y más    20  2_Op./No calif.   6000.0
23427    33  2_Sec. comp y más    48  2_Op./No calif.   5500.0
23428    36  2_Sec. comp y más    60  2_Op./No calif.   8200.0
23429    61  2_Sec. comp y más    30    1_Prof./Tecn.   6000.0
23430    62  2_Sec. comp y más    30    1_Prof./Tecn.   8500.0
23431    41  2_Sec. comp y más    56    1_Prof./Tecn.  15000.0
23432    38        1_H/Sec inc    44    1_Prof./Tecn.   6800.0
23433    41  2_Sec. comp y más    40    1_Prof./Tecn.   8000.0
23434    63  2_Sec. comp y más    18  2_Op./No calif.   7100.0
23435    39        1_H/Sec inc    48  2_Op./No calif.   3500.0
23436    37        1_H/Sec inc    50  2_Op./No calif.   5800.0
23437    65        1_H/Sec inc    56  2_Op./No calif.   3500.0
23438    31  2_Sec. comp y más    24  2_Op./No calif.   5800.0
23439    17        1_H/Sec inc    56  2_Op./No calif.   3500.0
23440    19        1_H/Sec inc    48  2_Op./No calif.   7000.0
23441    33        1_H/Sec inc    24  2_Op./No calif.   4450.0
23442    41  2_Sec. comp y más    39  2_Op./No calif.   9500.0
23443    45  2_Sec. comp y más    50  2_Op./No calif.   4000.0
23444    58        1_H/Sec inc    30  2_Op./No calif.   5000.0
23445    36  2_Sec. comp y más    40  2_Op./No calif.  13000.0
23446    49        1_H/Sec inc    40  2_Op./No calif.   4000.0
23447    36        1_H/Sec inc    54  2_Op./No calif.   8000.0

[23448 rows x 5 columns]

## 2. Explorando el dataset

### 2.1. ¿Cuántas filas y cuántas columnas tiene el dataset?

In [16]:
print("Columns: ",len(df.columns), " Rows: ",df.ch06.count())

Columns:  5  Rows:  23448

### 2.2 ¿Qué información tiene el dataset? Imprimir el nombre de las columnas

In [17]:
df.columns

Index(['ch06', 'nivel_ed', 'htot', 'calif', 'p47t'], dtype='object')

Los nombres de columna no son muy descriptivos de la información que contienen las mismas. Probemos cambiarlos por la siguiente lista: 

['edad', 'nivel_educativo', 'hs_trabajadas', 'calif_ocupacional', 'ingreso_ult_mes']

### 2.3 ¿Cómo está indexado el dataset?

In [18]:
df.index

RangeIndex(start=0, stop=23448, step=1)

### 2.4 ¿Cuál es el tipo de la cuarta columna?

In [20]:
type(df.columns[3])

str

### 2.4 ¿Cuál es el nivel educativo más común?

In [27]:
from scipy import stats
nivel_educativo = df.nivel_ed.notna()
m = stats.mode(df.nivel_ed)
print(m)

ModeResult(mode=array(['2_Sec. comp y más'], dtype=object), count=array([14634]))

/opt/conda/lib/python3.6/site-packages/scipy/stats/stats.py:245: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

### 2.5 ¿Y cómo se distribuye la población según calificación?

### 2.6 ¿Cuál es el ingreso total de la población?

### 2.4 ¿Cuál es el ingreso medio de la población?

## 3. Indexando y ordenando los datos

### 3.1 Seleccionar la columna `nivel_educativo` e `ingreso_ult_mes` y asignarlas a un objeto nuevo llamado `df2`

### 3.2 Seleccionar de df2 las primeras 20 filas

### 3.2 Seleccionar de df una muestra aleatoria de 500 filas

### 3.4 Elegir todas las columnas, con excepción de nivel_educativo. Tip: Utilizar la propiedad columns para filtrar en la dimensión de las columnas.

### 3.5 Ordenar el dataset según la edad

### 3.6 ¿Cuál es el promedio de horas trabajadas de los jóvenes entre 14 y 25 años y poco calificados?

### 3.7 Generar un dataframe nuevo con los trabajadores que ganan más del promedio de ingresos general y están por debajo de la cantidad media de horas trabajadas. ¿Cuántos trabajadores se encuentran en esta condición? ¿Cuál es su edad mediana?