# Exploracion

## 1. Exploracion y analisis de datos

In [1]:
import pandas as pd
import numpy as np
import numpy as np
import re
import seaborn as sns
from scipy import stats
import math
import operator
import plotly
import plotly.plotly as py
import plotly.tools as tls
import plotly.graph_objs as go
from plotly.graph_objs import *
from plotly.offline import init_notebook_mode, iplot, plot
import plotly.figure_factory as ff#visualization
from plotly.offline import *

%matplotlib inline
from matplotlib import pyplot as plt
plt.rcParams['figure.figsize'] = 10, 10
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.linear_model import LinearRegression, Lasso, LassoCV, Ridge, RidgeCV, ElasticNetCV
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# df = pd.read_csv('df_alumnos.csv')
df = pd.read_csv('df_alumnos.csv', index_col='alumno')
df.sample(5)

,persona,dias_inscripcion,cant_cambios_plan,cant_inasistencias,cant_inscr_fuera_termino,cant_dias_inscripcion_ult_plan,promedio,cant_aprobados,cant_desaprobados,costeo_estudios_beca,...,estudio_alcanzado_madre,trabajo_existe_madre,trabajo_hace_madre,trabajo_existe_padre,trabajo_hace_padre,trabajo_existe_alumno,cant_reg_alumnos,cant_inscr_examenes,cant_dias_inscripcion_ult_examen,desercion
alumno,,,,,,,,,,,,,,,,,,,,,
631637,499016,692,1,NaN,NaN,965,7.00,1.0,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,2,4.0,250.0,0
583880,494219,87,1,NaN,3.0,179,1.50,NaN,2.0,N,...,5.0,1.0,3.0,1.0,3.0,NaN,1,2.0,95.0,0
283643,231037,271,1,NaN,NaN,974,6.00,1.0,NaN,N,...,11.0,1.0,3.0,1.0,2.0,1.0,2,2.0,753.0,0
468060,394668,2345,1,NaN,NaN,6037,5.56,28.0,6.0,N,...,NaN,NaN,NaN,NaN,NaN,NaN,1,35.0,3086.0,0
382695,284736,183,1,1.0,NaN,2433,8.38,47.0,1.0,N,...,NaN,NaN,NaN,NaN,NaN,NaN,1,74.0,274.0,0

In [3]:
df = df.replace('S',1)
df = df.replace('N',0)
df.sample(3)

,persona,dias_inscripcion,cant_cambios_plan,cant_inasistencias,cant_inscr_fuera_termino,cant_dias_inscripcion_ult_plan,promedio,cant_aprobados,cant_desaprobados,costeo_estudios_beca,...,estudio_alcanzado_madre,trabajo_existe_madre,trabajo_hace_madre,trabajo_existe_padre,trabajo_hace_padre,trabajo_existe_alumno,cant_reg_alumnos,cant_inscr_examenes,cant_dias_inscripcion_ult_examen,desercion
alumno,,,,,,,,,,,,,,,,,,,,,
969881,710694,1519,1,146.0,NaN,1993,3.90,4.0,6.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3,34.0,169.0,0
72218,59631,81,1,NaN,NaN,1702,6.44,15.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,31.0,182.0,0
123530,91746,293,1,9.0,NaN,1348,8.00,1.0,NaN,0.0,...,10.0,3.0,NaN,1.0,1.0,1.0,1,6.0,1142.0,0

In [6]:
df.describe()

,dias_inscripcion,cant_cambios_plan,cant_inasistencias,cant_inscr_fuera_termino,cant_dias_inscripcion_ult_plan,promedio,cant_aprobados,cant_desaprobados,costeo_estudios_beca,costeo_estudios_familiar,...,nivel_estudio_alcanzado,propuesta_academica,estudio_alcanzado_padre,estudio_alcanzado_madre,trabajo_existe_madre,trabajo_hace_madre,trabajo_existe_padre,trabajo_hace_padre,trabajo_existe_alumno,regular
count,162316.000000,162316.000000,45008.000000,12131.000000,162316.000000,162316.000000,150450.000000,110660.000000,157177.000000,162038.000000,...,150245.000000,162316.000000,44779.000000,46255.000000,41306.000000,28632.000000,38821.000000,30967.000000,56958.000000,162316.000000
mean,555.127738,1.051751,36.077897,2.274751,2395.742699,5.390587,11.693061,4.917884,0.033987,0.775158,...,3.025711,187.569451,7.103106,7.710172,1.608386,2.613614,1.452822,2.391449,1.000263,0.927469
std,720.504863,0.221524,79.436154,2.092094,1365.533163,1.864358,12.306521,5.540781,0.181197,0.417480,...,0.207608,114.917785,3.329343,3.128697,1.030174,0.648758,1.010797,0.771825,0.020949,0.259366
min,27.000000,1.000000,0.000000,1.000000,61.000000,0.000000,1.000000,1.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,141.000000,1.000000,2.000000,1.000000,1268.000000,4.000000,2.000000,1.000000,0.000000,1.000000,...,3.000000,87.000000,4.000000,5.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000
50%,271.000000,1.000000,5.000000,1.000000,2363.000000,5.270000,6.000000,3.000000,0.000000,1.000000,...,3.000000,179.000000,5.000000,9.000000,1.000000,3.000000,1.000000,3.000000,1.000000,1.000000
75%,532.000000,1.000000,13.000000,2.000000,3526.000000,6.820000,18.000000,6.000000,0.000000,1.000000,...,3.000000,314.000000,11.000000,11.000000,2.000000,3.000000,1.000000,3.000000,1.000000,1.000000
max,4995.000000,2.000000,540.000000,17.000000,11150.000000,10.000000,60.000000,95.000000,1.000000,1.000000,...,7.000000,335.000000,13.000000,14.000000,4.000000,4.000000,4.000000,4.000000,3.000000,1.000000

In [5]:
df.columns

Index(['dias_inscripcion', 'cant_cambios_plan', 'cant_inasistencias',
       'cant_inscr_fuera_termino', 'cant_dias_inscripcion_ult_plan',
       'promedio', 'cant_aprobados', 'cant_desaprobados',
       'costeo_estudios_beca', 'costeo_estudios_familiar',
       'costeo_estudios_plan_social', 'costeo_estudios_trabajo', 'sexo',
       'beca', 'tiene_pc_casa', 'tiene_internet_casa', 'nivel_idioma_ingles',
       'deportes', 'trabajo_hace', 'trabajo_carrera', 'estado_civil',
       'situacion_madre', 'situacion_padre', 'cantidad_hijos',
       'cobertura_salud', 'periodo_lectivo_localidad', 'procedencia_localidad',
       'vive_con', 'institucion_mot_economico', 'institucion_mot_prestigio',
       'institucion_mot_difusion', 'institucion_mot_recomendacion_amigos',
       'institucion_mot_recomendacion_estudiantes',
       'institucion_mot_sistema_ingreso', 'institucion_mot_ubicacion',
       'propuesta_mot_vocacion', 'propuesta_mot_sugerencia_familiar',
       'propuesta_mot_reconocimiento_social',
       'propuesta_mot_insercion_laboral', 'propuesta_mot_perfil_profesional',
       'propuesta_mot_mejora_economica', 'propuesta_mot_util_sociedad',
       'propuesta_mot_otros', 'titulo_sec', 'descripcion_titulo_sec',
       'colegio', 'nivel_estudio_alcanzado', 'propuesta_academica',
       'propuesta_academica_descripcion', 'estudio_alcanzado_padre',
       'estudio_alcanzado_madre', 'trabajo_existe_madre', 'trabajo_hace_madre',
       'trabajo_existe_padre', 'trabajo_hace_padre', 'trabajo_existe_alumno',
       'regular'],
      dtype='object')

#### Creo columna de rangos de promedio

In [4]:
bins = [0, 2, 4, 6, 8, 10]
names = ['0-2', '2-4', '4-6', '6-8', '8-10']

df['promedio_range'] = pd.cut(df.promedio, bins, labels=names)

#### Creo la columna de rangos de inasistencias

In [5]:
bins = [0, 20, 50, 100, 200, 500]
names = ['0-20', '20-50', '50-100', '100-200', '200-500']

df['cant_inasistencias_range'] = pd.cut(df.promedio, bins, labels=names)

In [9]:
df.cant_inasistencias.describe()

count    45008.000000
mean        36.077897
std         79.436154
min          0.000000
25%          2.000000
50%          5.000000
75%         13.000000
max        540.000000
Name: cant_inasistencias, dtype: float64

In [6]:
def camel_to_snake(column_name):
    """
    Converts a string that is camelCase into snake_case
    """
    s1 = re.sub('(.)([A-Z][a-z]+)', r'\1_\2', column_name)
    return re.sub('([a-z0-9])([A-Z])', r'\1_\2', s1).lower()

#Define Data

df.columns = [camel_to_snake(col) for col in df.columns]
df.sample(3)

,persona,dias_inscripcion,cant_cambios_plan,cant_inasistencias,cant_inscr_fuera_termino,cant_dias_inscripcion_ult_plan,promedio,cant_aprobados,cant_desaprobados,costeo_estudios_beca,...,trabajo_hace_madre,trabajo_existe_padre,trabajo_hace_padre,trabajo_existe_alumno,cant_reg_alumnos,cant_inscr_examenes,cant_dias_inscripcion_ult_examen,desercion,promedio_range,cant_inasistencias_range
alumno,,,,,,,,,,,,,,,,,,,,,
794276,288135,141,1,NaN,NaN,2381,2.75,1.0,3.0,0.0,...,NaN,NaN,NaN,1.0,4,11.0,995.0,1,2-4,0-20
970675,707383,1519,1,NaN,NaN,1987,6.00,1.0,NaN,0.0,...,NaN,NaN,NaN,NaN,4,45.0,1274.0,1,4-6,0-20
295796,228666,483,1,NaN,NaN,4989,4.00,2.0,1.0,0.0,...,NaN,NaN,NaN,1.0,2,4.0,1852.0,1,2-4,0-20

### Graficos de Barra

In [16]:
def bar(variable, df):
    fig =df.groupby(variable).size().plot(kind='bar')
    fig.set_xlabel(variable)
    fig.set_ylabel('Cantidad de registros')
    fig.set_title('Distribución de '+variable)
    plt.draw()
    plt.savefig("graph/histogramas/"+variable+"_bar.jpg")
    plt.close('all')

In [17]:
bar('regular',df)
bar('sexo',df)
bar('trabajo_existe_alumno',df)
bar('estado_civil',df)
bar('promedio_range',df)
bar('nivel_estudio_alcanzado',df)
bar('trabajo_existe_padre',df)
bar('trabajo_existe_madre',df)

### Funcion para generar matriz de correlaciones

In [57]:
df2 = df.cant_inasistencias.dropna()
df2 = df.trabajo_existe_alumno.dropna()

# df.shape
df = df.loc[df2.index]
df.shape

(56958, 59)

In [9]:
def corr_graph(df):
    fig, ax = plt.subplots(figsize=(100,100))       
    sns.heatmap(df.corr() , square=True, annot=True, ax=ax);
    ax.set_title("Correlacion")
    plt.draw()
    plt.savefig("graph/corr_graph.jpg")
    plt.close('all')

In [8]:
corr_graph(df)

### Generar histogramas
Genera histogramas de datos numericos dividiendo por cantidad de bins

In [14]:
def histogram1(variable, df, color, bins):
    fig = df[variable].hist(bins=bins, color=color)
    fig.set_xlabel(variable)
    fig.set_ylabel('Cantidad de Registros')
    fig.set_title('Distribución de '+variable)
    plt.draw()
    plt.savefig("graph/histogramas/"+variable+"_histogram1_"+str(bins)+".jpg")
    plt.clf()

In [14]:
histogram1('cant_desaprobados', df, 'c', 6)
histogram1('cant_aprobados', df, 'c', 6)
histogram1('cant_inasistencias', df, 'c', 6)
histogram1('cant_inscr_fuera_termino', df, 'c', 6)
histogram1('cant_cambios_plan', df, 'c', 4)

### Discretizar variables en quartiles o con la mediana

In [6]:
def make_discrete_df(variable, df, option=4):
    """Esta funcion toma una variable, df y opcion, y retorna el df original con la nueva variable discretizada
        Options:
        2 	= Median
        4 	= Quartiles
    """
    OPT = str(option)
    VAR = str(variable)
    VAR_discrete = VAR+'_discrete'+OPT
    data = df
    data.columns = [camel_to_snake(col) for col in data.columns]
    data.rename(columns={VAR: VAR_discrete}, inplace=True)

    #Median
    if option == 2:
        median = pd.qcut(data[VAR_discrete], 2, labels=['0', '1'])
        data.rename(columns={VAR_discrete: VAR}, inplace=True)
        cols_to_keep = data.columns
        data_new = data[cols_to_keep].join(median)
        return data_new
    #Quartiles
    elif option == 4:
        quantiles = pd.qcut(data[VAR_discrete], 4, labels=['1', '2', '3', '4'])
        data.rename(columns={VAR_discrete: VAR}, inplace=True)
        cols_to_keep = data.columns
        data_new = data[cols_to_keep].join(quantiles)
        return data_new

In [8]:
print(df.shape)
# df = make_discrete_df('cant_inasistencias', df, 4)
# df = make_discrete_df('cant_desaprobados', df, 4)
# #df = make_discrete_df('dias_inscripcion', df, 4)
df = make_discrete_df('cant_inscr_fuera_termino', df, 4)
print(df.shape)

(194355, 63)

NameError: name 'camel_to_snake' is not defined

In [17]:
# bar('cant_inasistencias_discrete4',df)
bar('cant_desaprobados_discrete4',df)

### Pie Charts

In [19]:
plotly.tools.set_credentials_file(username='darosk88', api_key='o4Knn6HIJlzubv9dYgDw')

#### Dividido dataframe en regular y no regular

In [69]:
df_regular     = df[df["regular"] == 1]
df_not_regular = df[df["regular"] == 0]

In [66]:
#labels
lab = df["regular"].value_counts().keys().tolist()
lab = ['Regular','No Regular'] # paso 1 como regular 0 no regular
#values
val = df["regular"].value_counts().values.tolist()

trace = go.Pie(labels = lab ,
               values = val ,
               marker = dict(colors =  [ 'royalblue' ,'lime'],
                             line = dict(color = "white",
                                         width =  1.3)
                            ),
               rotation = 90,
               hoverinfo = "label+value+text",
               hole = .5
              )
layout = go.Layout(dict(title = "Regularidad Alumnos",
                        plot_bgcolor  = "rgb(243,243,243)",
                        paper_bgcolor = "rgb(243,243,243)",
                       )
                  )

data = [trace]
fig = go.Figure(data = data,layout = layout)
py.iplot(fig)

In [70]:
def plot_pie(column,df_regular,df_not_regular):
    trace1 = go.Pie(values  = df_regular[column].value_counts().values.tolist(),
                    labels  = df_regular[column].value_counts().keys().tolist(),
                    hoverinfo = "label+percent+name",
                    domain  = dict(x = [0,.48]),
                    name    = "Regulares",
                    marker  = dict(line = dict(width = 2,
                                               color = "rgb(243,243,243)")
                                  ),
                    hole    = .6
                   )
    trace2 = go.Pie(values  = df_not_regular[column].value_counts().values.tolist(),
                    labels  = df_not_regular[column].value_counts().keys().tolist(),
                    hoverinfo = "label+percent+name",
                    marker  = dict(line = dict(width = 2,
                                               color = "rgb(243,243,243)")
                                  ),
                    domain  = dict(x = [.52,1]),
                    hole    = .6,
                    name    = "No regulares" 
                   )
    layout = go.Layout(dict(title = column + " distribucion de alumnos no regulares ",
                            plot_bgcolor  = "rgb(243,243,243)",
                            paper_bgcolor = "rgb(243,243,243)",
                            annotations = [dict(text = "Alumnos regulares",
                                                font = dict(size = 13),
                                                showarrow = False,
                                                x = .15, y = .5),
                                           dict(text = "Alumnos no regulares",
                                                font = dict(size = 13),
                                                showarrow = False,
                                                x = .88,y = .5
                                               )
                                          ]
                           )
                      )
    data = [trace1,trace2]
    fig  = go.Figure(data = data,layout = layout)
    return fig
    py.iplot(fig)

In [54]:
graph = plot_pie('cant_cambios_plan',df_regular,df_not_regular)
py.iplot(graph)

NameError: name 'df_regular' is not defined

In [71]:
graph = plot_pie('promedio_range',df_regular,df_not_regular)
py.iplot(graph)

In [72]:
graph = plot_pie('sexo',df_regular,df_not_regular)
py.iplot(graph)

In [25]:
graph = plot_pie('cant_inasistencias_discrete4',df_regular,df_not_regular)
py.iplot(graph)

In [39]:
df.sample(4)

,dias_inscripcion,cant_cambios_plan,cant_inasistencias,cant_inscr_fuera_termino,cant_dias_inscripcion_ult_plan,promedio,cant_aprobados,cant_desaprobados,costeo_estudios_beca,costeo_estudios_familiar,...,propuesta_academica,propuesta_academica_descripcion,estudio_alcanzado_padre,estudio_alcanzado_madre,trabajo_existe_madre,trabajo_hace_madre,trabajo_existe_padre,trabajo_hace_padre,trabajo_existe_alumno,regular
persona,,,,,,,,,,,,,,,,,,,,,
260708,4889,1,NaN,NaN,7050,NaN,3.0,1.0,N,S,...,163,Preingreso para satisfacer el art. 2 Res.D.326,NaN,NaN,NaN,NaN,NaN,NaN,1.0,S
375196,3569,1,NaN,23.0,3880,6.67,6.0,NaN,N,S,...,186,Licenciatura en Producción de Bio-Imágenes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S
467755,1326,1,NaN,NaN,1326,NaN,NaN,NaN,N,S,...,245,INGRESO ARTES VISUALES,10.0,8.0,4.0,NaN,4.0,NaN,NaN,S
313849,3016,1,NaN,1.0,7916,NaN,NaN,NaN,NaN,S,...,170,Medicina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [27]:
graph = plot_pie('trabajo_existe_alumno',df_regular,df_not_regular)
py.iplot(graph)

#### Grafico los nulos

In [52]:
# columns  = ['dias_inscripcion', 'cant_cambios_plan']
columns  = df.columns
nullcount = df[columns].isnull().sum()
notnullcount = df[columns].notnull().sum()

fig = go.Figure(data=[
    go.Bar(name='Nulls', x=columns, y=nullcount),
    go.Bar(name='NotNulls', x=columns, y=notnullcount)
])

fig.layout.update(barmode='stack')
py.iplot(fig)

In [10]:
to_drop = [
'cant_inasistencias',
'cant_inscr_fuera_termino',
'cant_desaprobados',
'tiene_internet_casa',
'trabajo_hace',
'trabajo_carrera',
'estudio_alcanzado_padre',
'estudio_alcanzado_madre',
'trabajo_existe_madre',
'trabajo_hace_madre',
'trabajo_existe_padre',
'trabajo_existe_madre',
'trabajo_existe_alumno',
]

df.drop(columns=to_drop, inplace=True) #aplicar drop
print("Cantidad de registros:",len(df))

Cantidad de registros: 194355

In [78]:
df2 = df.dropna()

df = df.loc[df2.index]
df.shape

df_regular     = df[df["regular"] == 1]
df_not_regular = df[df["regular"] == 0]

In [11]:
# Buscar si hay valores vacíos
df.isnull().sum()

persona                                           0
dias_inscripcion                                  0
cant_cambios_plan                                 0
cant_dias_inscripcion_ult_plan                    0
promedio                                          0
cant_aprobados                                12341
costeo_estudios_beca                          17133
costeo_estudios_familiar                       1359
costeo_estudios_plan_social                   17133
costeo_estudios_trabajo                        1359
sexo                                              0
beca                                            700
tiene_pc_casa                                    21
nivel_idioma_ingles                           18358
deportes                                          4
estado_civil                                    476
situacion_madre                                 209
situacion_padre                                   0
cantidad_hijos                                  108
cobertura_salud                                1270
periodo_lectivo_localidad                      6356
procedencia_localidad                          9607
vive_con                                       1340
institucion_mot_economico                         0
institucion_mot_prestigio                         0
institucion_mot_difusion                          0
institucion_mot_recomendacion_amigos              0
institucion_mot_recomendacion_estudiantes         0
institucion_mot_sistema_ingreso                   0
institucion_mot_ubicacion                         0
propuesta_mot_vocacion                            0
propuesta_mot_sugerencia_familiar                 0
propuesta_mot_reconocimiento_social               0
propuesta_mot_insercion_laboral                   0
propuesta_mot_perfil_profesional                  0
propuesta_mot_mejora_economica                    0
propuesta_mot_util_sociedad                       0
propuesta_mot_otros                               0
titulo_sec                                    42474
descripcion_titulo_sec                        42474
colegio                                       39376
nivel_estudio_alcanzado                       38691
propuesta_academica                               0
propuesta_academica_descripcion                   0
trabajo_hace_padre                           164092
cant_reg_alumnos                                  0
cant_inscr_examenes                            1051
cant_dias_inscripcion_ult_examen               1051
desercion                                         0
promedio_range                                    9
cant_inasistencias_range                          9
dtype: int64

In [12]:
corr_graph(df)