In [1]:
import pandas as pd
import numpy as np
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [69]:
df = pd.read_csv("Data/properatti.csv", sep = ",")

In [70]:
# 1. Completar el precio por metro cuadrado en dolares mediante el valor de precio por metro cuadrado cuando el currency es usd
# https://gitlab.com/dsdh/properatti/issues/5
#uniques = df.currency.unique()
#uniques
print("Cantidad de precios USD nulos 1: ",len(df[df.price_usd_per_m2.isnull()==True]))
# condicion dolar 'USD'
usd = 'USD'; cond_currency_usd = (df.currency == usd)
# condicion dolar 'USD'
cond_notusdprice_m2 = df.price_usd_per_m2.isnull()
# condicion price_per_m2 definido
cond_price_m2 = df.price_per_m2.notnull()
#mascara
mask_price_1 = cond_currency_usd & cond_notusdprice_m2 & cond_price_m2
df_price = df[mask_price_1 == True]

print("----Cantidad a reemplazar: ",len(df_price))
df.price_usd_per_m2.update(df_price.price_per_m2)
print("Result ==> Cantidad de precios USD nulos luego: ",len(df[df.price_usd_per_m2.isnull()==True]))

#ejemplo
df.iloc[68]

Cantidad de precios USD nulos 1:  52603
----Cantidad a reemplazar:  21437
Result ==> Cantidad de precios USD nulos luego:  31166

Unnamed: 0                                                                   68
operation                                                                  sell
property_type                                                         apartment
place_name                                                        Mar del Plata
place_with_parent_names       |Argentina|Buenos Aires Costa Atlántica|Mar de...
country_name                                                          Argentina
state_name                                         Buenos Aires Costa Atlántica
geonames_id                                                         3.43086e+06
lat-lon                                                  -38.034794,-57.5416872
lat                                                                    -38.0348
lon                                                                    -57.5417
price                                                                    235000
currency                                                                    USD
price_aprox_local_currency                                          4.14646e+06
price_aprox_usd                                                          235000
surface_total_in_m2                                                         NaN
surface_covered_in_m2                                                        72
price_usd_per_m2                                                        3263.89
price_per_m2                                                            3263.89
floor                                                                       NaN
rooms                                                                         2
expenses                                                                    NaN
properati_url                 http://www.properati.com.ar/15bx4_venta_depart...
description                   Cocina integrada con barra ,  horno y anafe .T...
title                         EXCELENTE DEPARTAMENTO CON VISTA AL MAR Y AL GOLF
image_thumbnail               https://thumbs4.properati.com/2/-WPR2ibAcpGmjF...
Name: 68, dtype: object

In [72]:
# 2. Calcular precio por metro cuadrado a partir de superficie
# https://gitlab.com/dsdh/properatti/issues/2
print("Cantidad de precios USD nulos 2: ",len(df[df.price_usd_per_m2.isnull()==True]))
# condicion en mask1
mask1 = (df.price_usd_per_m2.isnull())& (df.surface_covered_in_m2.notnull()) & (df.price_aprox_usd.notnull())
df1 = df[mask1]

print("----Cantidad a reemplazar: ",len(df1))
# Tal vez deberia hacerse la superficie total no la cubierta
x = df1.price_aprox_usd/df1.surface_covered_in_m2
df.price_usd_per_m2.update(x)
print("Result ==> Cantidad de precios USD nulos luego: ",len(df[df.price_usd_per_m2.isnull()==True]))

#ejemplo
df.iloc[154]

Cantidad de precios USD nulos 2:  28295
----Cantidad a reemplazar:  0
Result ==> Cantidad de precios USD nulos luego:  28295

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
121190    False
121191    False
121192    False
121193    False
121194    False
121195    False
121196    False
121197    False
121198    False
121199    False
121200    False
121201    False
121202    False
121203    False
121204    False
121205    False
121206    False
121207    False
121208    False
121209    False
121210    False
121211    False
121212    False
121213    False
121214    False
121215    False
121216    False
121217    False
121218    False
121219    False
Length: 121220, dtype: bool

In [65]:
#

28295

array(['USD', nan, 'ARS', 'PEN', 'UYU'], dtype=object)

In [8]:
df.isnull().sum()

Unnamed: 0                         0
operation                          0
property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

In [ ]:
# 1
# Relacion entre precio, cantidad de 
#         habitaciones y metros cuadrados cubiertos: Para saber en que punto tiene incidencia la cantidad de habitaciones

In [ ]:
# 2
# Relacion entre cantidad de metros cubiertos y no cubiertos

In [ ]:
# 3
# Cuantos registros en price_per_m2 podemos cubrir calculando el valor 
#    total (price_aprox_usd) / metros cuadrados total (surface_total_in_m2)