In [1]:
import numpy as np
import matplotlib as mpl
import pandas as pd

In [2]:
#file://localhost/path/to/table.csv.
df = pd.read_csv("Data/properatti.csv")

In [3]:
df.columns

Index(['Unnamed: 0', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'country_name', 'state_name', 'geonames_id',
       'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail'],
      dtype='object')

In [4]:
df.notnull().sum()

Unnamed: 0                    121220
operation                     121220
property_type                 121220
place_name                    121197
place_with_parent_names       121220
country_name                  121220
state_name                    121220
geonames_id                   102503
lat-lon                        69670
lat                            69670
lon                            69670
price                         100810
currency                      100809
price_aprox_local_currency    100810
price_aprox_usd               100810
surface_total_in_m2            81892
surface_covered_in_m2         101313
price_usd_per_m2               68617
price_per_m2                   87658
floor                           7899
rooms                          47390
expenses                       14262
properati_url                 121220
description                   121218
title                         121220
image_thumbnail               118108
dtype: int64

In [3]:
df.isnull().sum()

Unnamed: 0                         0
operation                          0
property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

In [3]:
#para probar que cada condici√≥n se cumple, dejo comentada cada linea
a = df['price_usd_per_m2'].isnull()
b = df['surface_covered_in_m2'].notnull()
c = df['price_aprox_usd'].notnull()
df1 = (df['price_usd_per_m2'].isnull())& (df['surface_covered_in_m2'].notnull()) & (df['price_aprox_usd'].notnull())
df1.sum()

24308

In [5]:
def fn_divide(x):
    return df['price_aprox_usd']/df['surface_covered_in_m2']

In [ ]:
df1['price_usd_per_m2'] = df1.apply(fn_divide)

In [ ]:
df.loc[df1, 'price_usd_per_m2'] = df.loc[df1, 'price_usd_per_m2'].apply(lambda x:
                                                                        df['price_aprox_usd']/df['surface_covered_in_m2'])