In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("Data/properatti.csv", sep = ",")

        EXPLORAMOS UN POCO EL DATA FRAME

In [4]:
df.columns

Index(['Unnamed: 0', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'country_name', 'state_name', 'geonames_id',
       'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail'],
      dtype='object')

In [5]:
df.describe()

,Unnamed: 0,geonames_id,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,121220.000000,1.025030e+05,69670.000000,69670.000000,1.008100e+05,1.008100e+05,1.008100e+05,81892.000000,101313.000000,68617.000000,8.765800e+04,7899.000000,47390.000000,1.426200e+04
mean,60609.500000,3.574442e+06,-34.626210,-59.266290,4.685259e+05,4.229397e+06,2.397006e+05,233.795328,133.050181,2160.086916,6.912216e+03,17.452336,3.080840,5.009234e+03
std,34993.344153,3.541306e+05,1.980936,2.299922,2.260101e+06,6.904714e+06,3.913239e+05,1782.222147,724.351479,2759.288621,2.837864e+04,120.243621,1.860773,1.204403e+05
min,0.000000,3.427208e+06,-54.823985,-75.678931,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.600000,1.510204e+00,1.000000,1.000000,1.000000e+00
25%,30304.750000,3.430234e+06,-34.669065,-58.727040,1.100000e+05,1.583309e+06,8.973388e+04,50.000000,45.000000,1218.181818,1.550000e+03,1.000000,2.000000,1.000000e+03
50%,60609.500000,3.433910e+06,-34.597985,-58.480128,1.850000e+05,2.558452e+06,1.450000e+05,84.000000,75.000000,1800.000000,2.213115e+03,3.000000,3.000000,2.000000e+03
75%,90914.250000,3.836668e+06,-34.441299,-58.395908,4.200000e+05,4.675792e+06,2.650000e+05,200.000000,150.000000,2486.411765,3.355549e+03,6.000000,4.000000,4.000000e+03
max,121219.000000,6.948895e+06,4.545843,-53.733330,6.500000e+08,8.212711e+08,4.654544e+07,200000.000000,187000.000000,206333.333333,4.000000e+06,3150.000000,32.000000,1.000150e+07

In [ ]:
df.isnull().sum()

In [ ]:
df.shape

In [7]:
#buscamos regenerar 39.328 datos faltantes en superficie total en la tabla, rellenando con el promedio
#del barrio de cada propiedad.

# creamos una proporción de metros cubiertos sobre metros totales
propcubierto = df.surface_covered_in_m2 / df.surface_total_in_m2



mask = propcubierto < 1

propcubierto_clean  = propcubierto[mask]
propcubierto_clean

0         0.727273
6         0.735849
7         0.888889
8         0.923077
12        0.923077
13        0.600000
14        0.738095
16        0.700000
17        0.443182
19        0.923077
21        0.618644
23        0.875000
26        0.826087
31        0.497585
33        0.446237
34        0.930233
35        0.962500
38        0.590909
40        0.536232
47        0.625000
48        0.879433
50        0.859155
51        0.642857
53        0.460000
54        0.925926
55        0.925926
56        0.362500
58        0.615385
59        0.957143
61        0.758621
            ...
121099    0.934783
121100    0.944444
121102    0.777778
121103    0.964286
121106    0.813953
121109    0.925926
121110    0.850000
121112    0.938776
121113    0.880000
121114    0.940000
121115    0.940000
121116    0.940000
121120    0.888889
121121    0.827586
121122    0.813559
121123    0.830189
121124    0.539130
121127    0.923077
121135    0.237500
121136    0.891892
121137    0.891892
121138    0.869565
121141    0.773481
121143    0.822917
121146    0.915789
121153    0.714286
121157    0.921053
121158    0.886364
121215    0.823009
121217    0.847826
Length: 49075, dtype: float64

In [8]:
#relevamos algunos casos anómalos, donde la proporción da mayor a uno (inverosímil).
tempmask = propcubierto > 1
np.sum(tempmask)

1106

In [ ]:
#creamos una nueva variable sin esos datos anómalos
mask = propcubierto < 1

propcubierto_clean  = propcubierto[mask]

In [ ]:
#la agregamos al dataframe 
df['propcubierto']=propcubierto_clean

In [ ]:
#chequeamos el df modificado
df.head(5)

In [ ]:
#agrupamos por provincia(state_name) el porcentaje promedio de m2cubierto/m2total
avg_propcubiertobarrio = df.groupby('state_name')["propcubierto"].mean().sort_values(ascending = False)
avg_propcubiertobarrio

In [ ]:
#iteramos por las propiedades que tienen el dato faltante de superficie total y les inputamos la proporción promedio
#del barrio al que pertenecen, usando como dato la superficie cubierta.
# SUPERFICIE TOTAL = (SUPERFICIE CUBIERTA / PROPORCION CUBIERTOTOTAL)

for x in df['surface_total_in_m2']:
    if pd.isnull(df.surface_total_in_m2[x]):
        df.surface_total_in_m2[x] = df.surface_covered_in_m2[x] / avg_propcubiertobarrio[df.state_name[x]]

In [ ]:
#PARA TESTEAR, fila 12110
# superficie total es NAN, cubierta 120, porcentaje promedio de su barrio 0.689... , superficie total generada deberia ser 174

df.surface_total_in_m2[12110]


#ESTE ES EL CODIGO QUE CORRE EL FOR, QUE EFECTIVAMENTE CAMBIA EL DATO AL PLANTEADO.
#df.surface_total_in_m2[121210] = df.surface_covered_in_m2[121210] / avg_propcubiertobarrio[df.state_name[121210]]
#df.surface_total_in_m2[121210]