# LAB: Utilizando Pandas con datos de oferta de departamentos en la CABA

## Introducción

El objetivo de este LAB es trabajar con los conceptos de agregación a través de `groupby` y `pivot tables` mencionadas en la sección teórica. 

> Para eso usaremos un dataset elaborado por el Gobierno de la Ciudad de Buenos Aires que releva el precio de oferta de venta de terrenos de la Ciudad Autónoma de Buenos Aires, representado en puntos de valor del suelo correspondientes a cada parcela. Con el fin de analizar el precio de oferta, se toma como unidad de referencia el precio del metro cuadrado (m2). Se utiliza el precio en dólares, puesto que ésta es la moneda que se usa en el mercado como referencia para este tipo de transacciones. Otras variables consideradas son las dimensiones, ubicación geográfica, y la normativa del Código de Planeamiento Urbano que rige la zona en que el terreno analizado se localiza. 

Pueden descargar el dataset y otros elaborados para los años 2001-2015 desde este [link](
https://data.buenosaires.gob.ar/dataset/departamentos-en-venta). En el pdf adjunto pueden encontrar una descripción sucinta de las variables relevadas.

Importamos los paquetes necesarios y cargamos los datos.

In [1]:
import numpy as np
import pandas as pd
from scipy import stats, integrate
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="ticks")

In [2]:
df = pd.read_csv("../Data/ED_deptos_venta_2014.csv",encoding = "latin1", sep=";")

In [4]:
# Veamos los tipos de las columnas...
df.dtypes

CALLE          object
NUMERO          int64
M2              int64
DOLARES         int64
U_S_M2        float64
AMBIENTES       int64
ANTIGUEDAD    float64
ORIENT         object
BAULERA        object
COCHERA        object
BAÃ.OS          int64
LAVADERO       object
TERRAZA        object
BARRIO         object
COMUNA          int64
LON           float64
LAT           float64
dtype: object

In [89]:
# Revisamos que los datos se han importado correctamente observando las primeras 5 filas:
df.head(5)

pd.unique(df[['BARRIO', 'COMUNA']]).values

ValueError: could not broadcast input array from shape (12724,2) into shape (12724)

In [70]:
print(df.isnull().sum())

CALLE              0
NUMERO             0
M2                 0
DOLARES            0
U_S_M2             0
AMBIENTES          0
ANTIGUEDAD      2782
ORIENT             0
BAULERA            0
COCHERA            0
BAÃ.OS             0
LAVADERO           0
TERRAZA            0
BARRIO             0
COMUNA             0
LON                0
LAT                0
valor_metro0       0
valor_metro        0
dtype: int64

### 1. ¿Cuál es el valor promedio del metro cuadrado en la CABA?

In [68]:
df['valor_metro'] = df.DOLARES/df.M2
df.valor_metro = df.valor_metro.round(1)
df
(df.valor_metro != df.U_S_M2).sum()

df[['valor_metro']].mean().round(1)
#df[['U_S_M2']].describe()

valor_metro    2320.2
dtype: float64

### 2. ¿Cómo es el precio promedio para cada cuartil de antigüedad de las viviendas en la CABA?
Resolver utilizando groupby()

In [72]:
df[['ANTIGUEDAD','valor_metro']].groupby('ANTIGUEDAD').mean().sort_values("ANTIGUEDAD",\
                                       ascending = True).head(10)

antiguedad = pd.qcut(df['ANTIGUEDAD'], 4)
antiguedad
#titanic.pivot_table('survived', ['sex', age], [fare, 'class'])
df[['ANTIGUEDAD','valor_metro']].pivot_table('valor_metro', [antiguedad])

               valor_metro
ANTIGUEDAD
(-0.001, 5.0]  2660.435820
(5.0, 30.0]    2422.381034
(30.0, 40.0]   2113.728139
(40.0, 115.0]  2010.019631

### 3. ¿Cómo es el precio promedio para cada decil de tamaño (columna M2)?
Resolver utilizando groupby()

In [47]:
df[['M2','valor_metro']].groupby('M2').mean().sort_values("M2",\
                                       ascending = True).head(10)

    valor_metro
M2
14  2500.000000
16  2437.500000
17  3174.533333
18  2815.775000
19  2862.630000
20  2742.619048
21  2723.200000
22  2456.574074
23  2551.348485
24  2574.597368

### 4. ¿Cuál es la media de precio por metro cuadrado para cada barrio de la CABA? Ordenar los datos para indicar cuál es el barrio más caro.
Nota: realizar el cálculo tanto con groupby como con pivot tables

### 5. ¿En qué barrio hay una mayor dispersión de precios de metro cuadrado? Ordenar los valores para identificar el mayor.

(Recordar la fórmula del coeficiente de variación para medir la dispersión)

**Pistas**
* Una primera opción es definir una función con arrays y utilizar `.apply()`

* Una segunda, es generar dos series: 
  - una con el método `.std()` y dividirla por otra serie generada con `mean()`

**Bonus:** ¿cuál le parece mejor y por qué?

### 6. ¿En qué barrio los departamentos son más grandes? 
¿Conviene usar la media o la mediana?

Nota: se puede realizar el cálculo tanto con groupby como con pivot tables

### 7. En general, puede observarse alguna diferencia entre el precio mediano de aquellos departamentos que tienen terraza y los que no? ¿Y en el tamaño?

### 8. Genere un `DataFrame` que agregue la información  promedio del precio por M2 (`U_S_M2`), ambientes (`AMBIENTES`) y antigüedad (`ANTIGUEDAD`) a nivel de `COMUNA` y barrio (`BARRIO`). Proporcione información tanto de la tendencia central como de la dispersión de ambas distribuciones.

### 9. Si tuvieran que tomar una decisión sobre dónde invertir en una casa... ¿qué barrio elegirían? ¿Por qué?