# LAB: Introducción a Pandas 1

## 1. Introducción

Usaremos en este caso una versión muy resumida de datos de la Encuesta Permanentes de Hogares (relevamiento llevado adelante por el INDEC). Se trata de una encuesta continua que tiene como objetivo fundamental generar información sobre el funcionamiento del mercado de trabajo.

Solamente utilizaremos algunas variables (edad, nivel educativo, cantidad de horas trabajadas, calificación de la tarea e ingreso laboral) y algunos casos (los ocupados, es decir, aquellos que han trabajado al menos una hora en la semana anterior al relevamiento).

#### Para resolver el LAB: 
    Investigar los métodos value_counts() y sort_values() de la clase DataFrame

### 1.1 Importamos los paquetes a usar

In [1]:
import pandas as pd

### 1.2 Importamos los datos a usar

In [2]:
df = pd.read_csv("../Data/data_filt.csv"
           , encoding = 'latin1')

## 2. Explorando el dataset

### 2.1. ¿Cuántas filas y cuántas columnas tiene el dataset?

In [3]:
print("Columns: ",len(df.columns), " Rows: ",df.ch06.count())

Columns:  5  Rows:  23448

### 2.2 ¿Qué información tiene el dataset? Imprimir el nombre de las columnas

In [4]:
df.columns

Index(['ch06', 'nivel_ed', 'htot', 'calif', 'p47t'], dtype='object')

Los nombres de columna no son muy descriptivos de la información que contienen las mismas. Probemos cambiarlos por la siguiente lista: 

['edad', 'nivel_educativo', 'hs_trabajadas', 'calif_ocupacional', 'ingreso_ult_mes']

### 2.3 ¿Cómo está indexado el dataset?

In [5]:
df.index

RangeIndex(start=0, stop=23448, step=1)

### 2.4 ¿Cuál es el tipo de la cuarta columna?

In [6]:
df.dtypes

ch06          int64
nivel_ed     object
htot          int64
calif        object
p47t        float64
dtype: object

### 2.4 ¿Cuál es el nivel educativo más común?

In [7]:
from scipy import stats
df.nivel_ed.notna()
nivel_educativo = df[df.nivel_ed.notna()].nivel_ed
m = stats.mode(nivel_educativo)
m
#nivel_educativo

/opt/conda/lib/python3.6/site-packages/scipy/stats/stats.py:245: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

ModeResult(mode=array(['2_Sec. comp y más'], dtype=object), count=array([14634]))

### 2.5 ¿Y cómo se distribuye la población según calificación?

In [8]:
df.groupby('calif').count()

                  ch06  nivel_ed   htot   p47t
calif
1_Prof./Tecn.     6076      6076   6076   6076
2_Op./No calif.  17372     17372  17372  17372

### 2.6 ¿Cuál es el ingreso total de la población?

In [72]:
df.p47t.sum()

190114176.0

### 2.4 ¿Cuál es el ingreso medio de la población?

In [75]:
df.p47t.mean()

8107.905834186285

## 3. Indexando y ordenando los datos

### 3.1 Seleccionar la columna `nivel_educativo` e `ingreso_ult_mes` y asignarlas a un objeto nuevo llamado `df2`

In [9]:
df2 = df[['nivel_ed','p47t']]
df2

                nivel_ed     p47t
0            1_H/Sec inc   6000.0
1      2_Sec. comp y más   5000.0
2      2_Sec. comp y más   5000.0
3            1_H/Sec inc  11000.0
4            1_H/Sec inc   9500.0
5      2_Sec. comp y más   6000.0
6      2_Sec. comp y más   9000.0
7            1_H/Sec inc   4260.0
8            1_H/Sec inc   3800.0
9      2_Sec. comp y más  10517.0
10           1_H/Sec inc   8300.0
11     2_Sec. comp y más   4900.0
12     2_Sec. comp y más  11000.0
13     2_Sec. comp y más   9000.0
14           1_H/Sec inc   3500.0
15           1_H/Sec inc   8000.0
16           1_H/Sec inc   2500.0
17           1_H/Sec inc   7500.0
18           1_H/Sec inc   5000.0
19           1_H/Sec inc   5500.0
20     2_Sec. comp y más   7000.0
21     2_Sec. comp y más   6500.0
22           1_H/Sec inc   3000.0
23     2_Sec. comp y más   2000.0
24           1_H/Sec inc   9100.0
25           1_H/Sec inc   5100.0
26           1_H/Sec inc   7200.0
27           1_H/Sec inc   4800.0
28           1_H/Sec inc   2700.0
29           1_H/Sec inc   3000.0
...                  ...      ...
23418  2_Sec. comp y más  10500.0
23419  2_Sec. comp y más  13000.0
23420  2_Sec. comp y más   9500.0
23421  2_Sec. comp y más   9700.0
23422        1_H/Sec inc   3500.0
23423        1_H/Sec inc   8400.0
23424  2_Sec. comp y más   3500.0
23425  2_Sec. comp y más  12000.0
23426  2_Sec. comp y más   6000.0
23427  2_Sec. comp y más   5500.0
23428  2_Sec. comp y más   8200.0
23429  2_Sec. comp y más   6000.0
23430  2_Sec. comp y más   8500.0
23431  2_Sec. comp y más  15000.0
23432        1_H/Sec inc   6800.0
23433  2_Sec. comp y más   8000.0
23434  2_Sec. comp y más   7100.0
23435        1_H/Sec inc   3500.0
23436        1_H/Sec inc   5800.0
23437        1_H/Sec inc   3500.0
23438  2_Sec. comp y más   5800.0
23439        1_H/Sec inc   3500.0
23440        1_H/Sec inc   7000.0
23441        1_H/Sec inc   4450.0
23442  2_Sec. comp y más   9500.0
23443  2_Sec. comp y más   4000.0
23444        1_H/Sec inc   5000.0
23445  2_Sec. comp y más  13000.0
23446        1_H/Sec inc   4000.0
23447        1_H/Sec inc   8000.0

[23448 rows x 2 columns]

### 3.2 Seleccionar de df2 las primeras 20 filas

In [79]:
df2[:20]

             nivel_ed     p47t
0         1_H/Sec inc   6000.0
1   2_Sec. comp y más   5000.0
2   2_Sec. comp y más   5000.0
3         1_H/Sec inc  11000.0
4         1_H/Sec inc   9500.0
5   2_Sec. comp y más   6000.0
6   2_Sec. comp y más   9000.0
7         1_H/Sec inc   4260.0
8         1_H/Sec inc   3800.0
9   2_Sec. comp y más  10517.0
10        1_H/Sec inc   8300.0
11  2_Sec. comp y más   4900.0
12  2_Sec. comp y más  11000.0
13  2_Sec. comp y más   9000.0
14        1_H/Sec inc   3500.0
15        1_H/Sec inc   8000.0
16        1_H/Sec inc   2500.0
17        1_H/Sec inc   7500.0
18        1_H/Sec inc   5000.0
19        1_H/Sec inc   5500.0

### 3.2 Seleccionar de df una muestra aleatoria de 500 filas

In [12]:
df2.sample(500)

                nivel_ed     p47t
9569   2_Sec. comp y más  15000.0
9705   2_Sec. comp y más   5000.0
5714   2_Sec. comp y más   4500.0
10805  2_Sec. comp y más   7000.0
16415  2_Sec. comp y más  20000.0
21489        1_H/Sec inc   5000.0
19594  2_Sec. comp y más   9000.0
23098        1_H/Sec inc   6000.0
21909  2_Sec. comp y más  10000.0
21467  2_Sec. comp y más    500.0
17313  2_Sec. comp y más   8000.0
14633  2_Sec. comp y más   4000.0
20903  2_Sec. comp y más   1900.0
22360        1_H/Sec inc   6000.0
19062  2_Sec. comp y más   8000.0
22078        1_H/Sec inc  10200.0
2180   2_Sec. comp y más   4000.0
20806  2_Sec. comp y más   9000.0
7279   2_Sec. comp y más   8000.0
10721  2_Sec. comp y más   3000.0
14210  2_Sec. comp y más   3300.0
10565        1_H/Sec inc  22000.0
11911        1_H/Sec inc   1600.0
5050   2_Sec. comp y más   9000.0
8801   2_Sec. comp y más  40000.0
7627         1_H/Sec inc   8000.0
10838  2_Sec. comp y más   1600.0
11866  2_Sec. comp y más   2800.0
17447  2_Sec. comp y más  23000.0
23294        1_H/Sec inc  15000.0
...                  ...      ...
12977  2_Sec. comp y más  10000.0
15212        1_H/Sec inc   3600.0
23291  2_Sec. comp y más  11000.0
5708         1_H/Sec inc   3400.0
20162        1_H/Sec inc   5900.0
4638   2_Sec. comp y más   6500.0
1805         1_H/Sec inc  11500.0
659    2_Sec. comp y más  15000.0
19145        1_H/Sec inc   8000.0
3799         1_H/Sec inc   3000.0
11553  2_Sec. comp y más  18200.0
13672        1_H/Sec inc   4500.0
6770   2_Sec. comp y más   5000.0
3034   2_Sec. comp y más   6000.0
1000         1_H/Sec inc   9500.0
5143   2_Sec. comp y más   6700.0
3616         1_H/Sec inc  10000.0
16166  2_Sec. comp y más  15000.0
2857   2_Sec. comp y más   7500.0
11377  2_Sec. comp y más   5000.0
18275        1_H/Sec inc  15000.0
9630   2_Sec. comp y más   3000.0
13998  2_Sec. comp y más   8000.0
1      2_Sec. comp y más   5000.0
22527        1_H/Sec inc   7000.0
17414  2_Sec. comp y más   6000.0
13728        1_H/Sec inc   4800.0
5577   2_Sec. comp y más   5500.0
1203   2_Sec. comp y más   9000.0
14737  2_Sec. comp y más   4500.0

[500 rows x 2 columns]

### 3.4 Elegir todas las columnas, con excepción de nivel_educativo. Tip: Utilizar la propiedad columns para filtrar en la dimensión de las columnas.

In [25]:
columns = df.columns
without_nivel_ed = columns.drop('nivel_ed')
df[without_nivel_ed]

       ch06  htot            calif     p47t
0        46    45  2_Op./No calif.   6000.0
1        26    25  2_Op./No calif.   5000.0
2        47    25  2_Op./No calif.   5000.0
3        52    90  2_Op./No calif.  11000.0
4        45    44  2_Op./No calif.   9500.0
5        38    72    1_Prof./Tecn.   6000.0
6        40    44  2_Op./No calif.   9000.0
7        53    72  2_Op./No calif.   4260.0
8        24    55  2_Op./No calif.   3800.0
9        44    60  2_Op./No calif.  10517.0
10       72    15    1_Prof./Tecn.   8300.0
11       40    42  2_Op./No calif.   4900.0
12       43    15    1_Prof./Tecn.  11000.0
13       47    45  2_Op./No calif.   9000.0
14       40    14  2_Op./No calif.   3500.0
15       40    55  2_Op./No calif.   8000.0
16       43    48  2_Op./No calif.   2500.0
17       43    72  2_Op./No calif.   7500.0
18       42    72  2_Op./No calif.   5000.0
19       29    20  2_Op./No calif.   5500.0
20       44    36    1_Prof./Tecn.   7000.0
21       25    36  2_Op./No calif.   6500.0
22       48    30  2_Op./No calif.   3000.0
23       19    25  2_Op./No calif.   2000.0
24       53    40  2_Op./No calif.   9100.0
25       47    36  2_Op./No calif.   5100.0
26       40    40  2_Op./No calif.   7200.0
27       54    70  2_Op./No calif.   4800.0
28       37    51  2_Op./No calif.   2700.0
29       37    24  2_Op./No calif.   3000.0
...     ...   ...              ...      ...
23418    37    48  2_Op./No calif.  10500.0
23419    36    40    1_Prof./Tecn.  13000.0
23420    29    40  2_Op./No calif.   9500.0
23421    28    40  2_Op./No calif.   9700.0
23422    29    48    1_Prof./Tecn.   3500.0
23423    47    60  2_Op./No calif.   8400.0
23424    28    20  2_Op./No calif.   3500.0
23425    46    40    1_Prof./Tecn.  12000.0
23426    58    20  2_Op./No calif.   6000.0
23427    33    48  2_Op./No calif.   5500.0
23428    36    60  2_Op./No calif.   8200.0
23429    61    30    1_Prof./Tecn.   6000.0
23430    62    30    1_Prof./Tecn.   8500.0
23431    41    56    1_Prof./Tecn.  15000.0
23432    38    44    1_Prof./Tecn.   6800.0
23433    41    40    1_Prof./Tecn.   8000.0
23434    63    18  2_Op./No calif.   7100.0
23435    39    48  2_Op./No calif.   3500.0
23436    37    50  2_Op./No calif.   5800.0
23437    65    56  2_Op./No calif.   3500.0
23438    31    24  2_Op./No calif.   5800.0
23439    17    56  2_Op./No calif.   3500.0
23440    19    48  2_Op./No calif.   7000.0
23441    33    24  2_Op./No calif.   4450.0
23442    41    39  2_Op./No calif.   9500.0
23443    45    50  2_Op./No calif.   4000.0
23444    58    30  2_Op./No calif.   5000.0
23445    36    40  2_Op./No calif.  13000.0
23446    49    40  2_Op./No calif.   4000.0
23447    36    54  2_Op./No calif.   8000.0

[23448 rows x 4 columns]

### 3.5 Ordenar el dataset según la edad

In [29]:
df.sort_values(['ch06'],ascending=[1])

       ch06           nivel_ed  htot            calif     p47t
15308    12        1_H/Sec inc     7  2_Op./No calif.    250.0
19856    12        1_H/Sec inc    15  2_Op./No calif.   1200.0
20050    12        1_H/Sec inc    20  2_Op./No calif.   1600.0
5698     12        1_H/Sec inc     5  2_Op./No calif.    250.0
14556    13        1_H/Sec inc    14  2_Op./No calif.    800.0
15198    13        1_H/Sec inc     6  2_Op./No calif.    800.0
16659    13        1_H/Sec inc    60  2_Op./No calif.   3000.0
3776     14        1_H/Sec inc    20  2_Op./No calif.   1000.0
6027     14        1_H/Sec inc     6  2_Op./No calif.   2316.0
6462     14        1_H/Sec inc     3  2_Op./No calif.    250.0
15106    14        1_H/Sec inc    29  2_Op./No calif.   2750.0
17971    14        1_H/Sec inc     9  2_Op./No calif.   1350.0
14853    14        1_H/Sec inc    14  2_Op./No calif.    450.0
19656    14        1_H/Sec inc     5  2_Op./No calif.    150.0
14087    14        1_H/Sec inc    15  2_Op./No calif.   3000.0
13727    15        1_H/Sec inc    24  2_Op./No calif.   3300.0
15286    15        1_H/Sec inc     6  2_Op./No calif.    400.0
1386     15        1_H/Sec inc    42  2_Op./No calif.   5400.0
23005    15        1_H/Sec inc    48  2_Op./No calif.   4200.0
2712     15        1_H/Sec inc    12  2_Op./No calif.    600.0
8305     15        1_H/Sec inc    25  2_Op./No calif.   3000.0
12169    15        1_H/Sec inc    45  2_Op./No calif.   2000.0
19655    15        1_H/Sec inc     5  2_Op./No calif.    150.0
11693    15        1_H/Sec inc     9  2_Op./No calif.    500.0
14785    15        1_H/Sec inc    10  2_Op./No calif.    800.0
17878    16        1_H/Sec inc    40  2_Op./No calif.   3000.0
6131     16        1_H/Sec inc    24  2_Op./No calif.    540.0
7447     16        1_H/Sec inc    48  2_Op./No calif.   2000.0
6473     16        1_H/Sec inc    30  2_Op./No calif.   1000.0
3165     16        1_H/Sec inc     2    1_Prof./Tecn.    300.0
...     ...                ...   ...              ...      ...
9620     80        1_H/Sec inc    12  2_Op./No calif.   5700.0
14543    80        1_H/Sec inc     9  2_Op./No calif.   6200.0
22575    80        1_H/Sec inc     9  2_Op./No calif.   6500.0
1404     80        1_H/Sec inc    66  2_Op./No calif.   3600.0
20673    80  2_Sec. comp y más    24  2_Op./No calif.   6200.0
21036    80        1_H/Sec inc    42    1_Prof./Tecn.   8200.0
1701     81        1_H/Sec inc    30    1_Prof./Tecn.   6900.0
14882    81        1_H/Sec inc    30  2_Op./No calif.   6000.0
14579    81        1_H/Sec inc    43  2_Op./No calif.   6700.0
21919    81        1_H/Sec inc    30  2_Op./No calif.   6800.0
21567    81  2_Sec. comp y más    30    1_Prof./Tecn.   6600.0
5588     81  2_Sec. comp y más    50    1_Prof./Tecn.  19500.0
19386    81        1_H/Sec inc     7  2_Op./No calif.  10142.0
5342     82        1_H/Sec inc     9  2_Op./No calif.   4800.0
5343     82  2_Sec. comp y más    33    1_Prof./Tecn.  12300.0
20819    82        1_H/Sec inc    15  2_Op./No calif.   5700.0
16497    82  2_Sec. comp y más    13  2_Op./No calif.   7000.0
20213    82  2_Sec. comp y más    30  2_Op./No calif.  23800.0
17363    82  2_Sec. comp y más    12  2_Op./No calif.   8500.0
1270     82  2_Sec. comp y más    25    1_Prof./Tecn.  11700.0
12786    82        1_H/Sec inc     6  2_Op./No calif.   6900.0
18209    83        1_H/Sec inc    56  2_Op./No calif.  26700.0
20745    83  2_Sec. comp y más    40    1_Prof./Tecn.   8000.0
766      84  2_Sec. comp y más    30    1_Prof./Tecn.   7800.0
10087    84        1_H/Sec inc    48    1_Prof./Tecn.   8000.0
4340     84        1_H/Sec inc    36  2_Op./No calif.   7500.0
23317    84        1_H/Sec inc    25  2_Op./No calif.   9900.0
16461    85  2_Sec. comp y más    40    1_Prof./Tecn.  20700.0
16954    85  2_Sec. comp y más    36  2_Op./No calif.   8250.0
22574    93        1_H/Sec inc    20  2_Op./No calif.   8000.0

[23448 rows x 5 columns]

### 3.6 ¿Cuál es el promedio de horas trabajadas de los jóvenes entre 14 y 25 años y poco calificados?

### 3.7 Generar un dataframe nuevo con los trabajadores que ganan más del promedio de ingresos general y están por debajo de la cantidad media de horas trabajadas. ¿Cuántos trabajadores se encuentran en esta condición? ¿Cuál es su edad mediana?